In [2]:
import pandas as pd
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_series = pd.Series(high_school_dicts)
school_series

0    {'School ID': 0, 'school_name': 'Huang High   ...
1    {'School ID': 1, 'school_name': 'Figueroa High...
2    {'School ID': 2, 'school_name': 'Shelton High ...
3    {'School ID': 3, 'school_name': 'Hernandez Hig...
4    {'School ID': 4, 'school_name': 'Griffin High ...
dtype: object

In [14]:
import pandas as pd
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_series = pd.DataFrame(high_school_dicts)
school_series
school_series.values
school_series.columns
school_series.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

schools_df = pd.DataFrame()
schools_df["School ID"] = school_id
schools_df['School Name'] = school_name
schools_df['School Type'] = type_of_school
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter